altgraph==0.17.4
edi_converter_util==1.0.0
et_xmlfile==2.0.0
numpy==1.26.4
openpyxl==3.1.5
packaging==23.2
pandas==2.2.1
pyinstaller==6.4.0
pyinstaller-hooks-contrib==2024.2
python-dateutil==2.9.0.post0
pytz==2024.1
setuptools==69.1.1
six==1.16.0
toml==0.10.2
tzdata==2024.1
